<div id="login-component">
  <div class="login-left-side">
    <div class="login-container">
      <h1>Olá,</h1>
      <p>Para continuar navegando de forma segura, efetue o login na rede.</p>
      <form
        class="login-form"
        [formGroup]="loginForm"
        (ngSubmit)="login(
          loginForm.controls['user'].value,
          loginForm.controls['password'].value
          )"
        >
        <h2>Login</h2>
        <div class="login-input user-input">
          <input
            (change)="moveIcons()"
            [@warning]="loginValid ? 'normal' : 'yellow'"
            formControlName="user"
            placeholder="Usuário"
          />
          <img
          [@moveIcon]="isMove ? 'moveIn' : 'moveOut'"
          class="user-icon" src="../../assets/icons/icon-user.svg" />
        </div>
        <div class="login-input password-input">
          <input
            (change)="moveIcons()"
            [@warning]="loginValid ? 'normal' : 'yellow'"
            formControlName="password"
            placeholder="Password"
            type="password"
          />
          <img [@moveIcon]="isMove ? 'moveIn' : 'moveOut'"
            class="password-icon" src="../../assets/icons/icon-password.svg"
          />
        </div>
        <div *ngIf="loginValid == true else loginInvalid"></div>
        <button type="submit">Continuar</button>
      </form>
      <a class="link" routerLink="/register" routerLinkActive="active">Não tem conta ? Registre-se</a>
    </div>
  </div>
  <div class="login-right-side">
    <div class="logo-container">
      <img class="logo" src="assets/imgs/Logo-Compasso-Uol.svg" />
    </div>
    <img class="back-image" src="assets/imgs/Login-Image.png" />
  </div>
</div>

<ng-template #loginInvalid>
  <p class="errorMessage">Ops, usuário ou senha inválidos. Tente novamente!</p>
</ng-template>


