@font-face {
  font-family: 'mark-pro';
  src: url(assets/fonts/Mark-Pro.ttf);
}

.storybook-input {
  font-family: 'mark-pro', 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 50px;
  background: #26292C;
  box-sizing: border-box;
  font-weight: 400;
  border: solid 1px #FFF !important;
  color: #E0E0E0;

  width: 80%;
  max-width: 379px;
  height: 60px;
  padding: 20px;
  padding-right: 46px;
  font-size: 16px;
  line-height: 20.28px;
}

