@font-face {
  font-family: 'mark-pro';
  src: url(assets/fonts/Mark-Pro.ttf);
}

.storybook-title {
  font-family: 'mark-pro', 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #E0E0E0;
  width: 118px;
  font-weight: 400;
  font-size: 60px;
  line-height: 76.05px;
  max-width: 118px;
}
.storybook-title--primary {
  color: #E0E0E0;
}
