/* You can add global styles to this file, and also import other style files */
/* @import '~reset.css'; */
@import '../node_modules/reset.css';

* {
  /* margin: 0; */
  font-family: mark-pro;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'mark-pro-bold';
  src: url(assets/fonts/Mark-Pro-Bold.ttf);
}

@font-face {
  font-family: 'mark-pro';
  src: url(assets/fonts/Mark-Pro.ttf);
}
