<div id="homeComponent">
  <header>
    <img class="logo-compasso" src="assets/imgs/Logo-Compasso-Black.svg">
    <div id="dateTime">
      <p class="hour">{{dateTimeNow.hora}}:{{dateTimeNow.min}}</p>
      <p class="date">{{dateTimeNow.diaWord}}, {{dateTimeNow.diaNumber}} de {{dateTimeNow.mes}} de {{dateTimeNow.ano}}</p>
    </div>
    <div id="temperature-container">
      <p>{{city}} - {{state}}</p>
      <div class="temperature">
        <img src="assets/imgs/cloud.png">
        <p>{{temp}}°</p>
      </div>
    </div>
  </header>
  <main>
    <img (click)="teste()" class="bola-compass" src="assets/imgs/Bola-Compasso.png">
    <div class="texts">
      <div class="text-1">
        <p>Our Mission is</p>
        <span>Nossa missão é</span>
      </div>
      <div class="text-2">
        <p>to transform the world</p>
        <span>transformar o mundo</span>
      </div>
      <div class="text-3">
        <p>building digital experiences</p>
        <span>construindo experiências digitais</span>
      </div>
      <div class="text-4">
        <p>that enable our client's growth</p>
        <span>que permitam o crescimento dos nossos clientes</span>
      </div>
    </div>
  </main>
  <footer>
    <p class="footer-message">Essa janela do navegador é usada para manter sua sessão de autenticação ativa. Deixa-a
      aberta em segundo plano e abra uma nova janela para continuar a navegar.
    </p>
    <span class="barrinha"></span>
    <p class="refresh-message">Application refresh in</p>
    <div class="timer">
      <p class="timer-number">{{timer}}</p>
      <p class="unit">seconds</p>
    </div>
    <a href="https://google.com" target="_blank" class="continue">Continuar Navegando</a>
    <a (click)="logout()" class="logout">Logout</a>
  </footer>
</div>
